[user]
	name = Corey Woodcox
	email = {{ .email }}
  {{ if eq .machine "personal" }}
  signingkey = {{ onepasswordRead "op://Private/v4q6vrsmte6hvku72nnirscrwm/public key" }}
[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

  {{ else }}
	signingkey = B5586867F24D1E827393A786FE4BCC0C5521E020
  {{ end }}

[commit]
  gpgsign = true
[core]
	excludesfile = /Users/cwoodcox/.gitignore_global
[color]
	diff = auto
	status = auto
	branch = auto
[rebase]
	autosquash = true
	autostash = true
[push]
	default = current

[hub]
protocol = https
	host = git.innova-partners.com

[alias]
  whereami = --no-pager show --oneline --no-patch
  history = log --pretty='format:%C(yellow)%h %Creset- %C(white)%s %C(bold blue)[%an]%Creset %Cgreen%cr' --graph
  recommit = commit --amend --no-edit
	yolo = push -f
	sstatus = status --short
	icommit = commit -pv

[merge]
	defaultToUpstream = true
	tool = vimdiff
[credential]
	helper = osxkeychain
[github]
	user = cwoodcox
[diff]
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[credential "https://git.innova-partners.com"]
	helper =
	helper = !/usr/local/bin/gh auth git-credential
