@RTK.md
@instructions/gh-shell-commands.md
@instructions/subagent-model-selection.md
{{ if eq .machine "work" -}}
@instructions/mckesson-covermymeds.md
{{ end -}}
{{ if eq .machine "personal" -}}
@instructions/personal-account.md
{{ end -}}
